<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cyb.board.mapper.BoardMapper">

    <insert id="insertBoard" parameterType="com.cyb.board.dto.BoardDto">
        INSERT INTO board (title, description, writer, file_url, original_file_name)
        VALUES (#{title}, #{content}, #{writer}, #{fileUrl, jdbcType=VARCHAR}, #{originalFileName, jdbcType=VARCHAR})
    </insert>

    <select id="findWithPagingAndSearch" resultType="com.cyb.board.dto.BoardDto">
        SELECT idx, title, writer, created, last_updated AS lastUpdated, file_url AS fileUrl, original_file_name as originalFileName
        FROM board
        <where>
            <if test="search != null and search.trim() != ''">
                title LIKE '%' || #{search} || '%'
                OR F_STRIP_TAGS(description) LIKE '%' || #{search} || '%'
                OR writer LIKE '%' || #{search} || '%'
            </if>
        </where>
        ORDER BY idx DESC
        OFFSET #{offset} ROWS FETCH NEXT #{pageSize} ROWS ONLY
    </select>

    <select id="count" resultType="int">
        SELECT COUNT(*) FROM board
        <where>
            <if test="search != null and search.trim() != ''">
                title LIKE '%' || #{search} || '%'
                OR F_STRIP_TAGS(description) LIKE '%' || #{search} || '%'
                OR writer LIKE '%' || #{search} || '%'
            </if>
        </where>
    </select>

    <select id="findById" parameterType="int" resultType="com.cyb.board.dto.BoardDto">
        SELECT
            idx,
            title,
            description AS content,
            writer,
            created,
            last_updated AS lastUpdated,
            file_url AS fileUrl,
            original_file_name AS originalFileName
        FROM board
        WHERE idx = #{id}
    </select>

    <update id="updateBoard" parameterType="com.cyb.board.dto.BoardDto">
        UPDATE board
        <set>
            <if test="title != null">title = #{title},</if>
            <if test="content != null">description = #{content},</if>
            file_url = #{fileUrl, jdbcType=VARCHAR},
            original_file_name = #{originalFileName, jdbcType=VARCHAR}
        </set>
        WHERE idx = #{idx}
    </update>

    <delete id="deleteBoard" parameterType="int">
        DELETE FROM board WHERE idx = #{id}
    </delete>

    <select id="findWithChosungSearch" resultType="com.cyb.board.dto.BoardDto">
        SELECT idx, title, writer, created, last_updated AS lastUpdated, file_url AS fileUrl, original_file_name as originalFileName
        FROM board
        <where>
            <if test="search != null and search.trim() != ''">
                REGEXP_LIKE(F_GET_CHOSUNG(title), #{search})
                OR REGEXP_LIKE(F_GET_CHOSUNG(writer), #{search})
            </if>
        </where>
        ORDER BY idx DESC
        OFFSET #{offset} ROWS FETCH NEXT #{pageSize} ROWS ONLY
    </select>

    <select id="countWithChosungSearch" resultType="int">
        SELECT COUNT(*) FROM board
        <where>
            <if test="search != null and search.trim() != ''">
                REGEXP_LIKE(F_GET_CHOSUNG(title), #{search})
                OR REGEXP_LIKE(F_GET_CHOSUNG(writer), #{search})
            </if>
        </where>
    </select>
</mapper>