@use 'variables' as v;
@use 'sass:color';

.list-container,
.detail-container {
  width: 100%;
  max-width: v.$desktop-width;
  background-color: v.$bg-component;
  padding: 32px;
  border-radius: v.$border-radius-base;
  box-shadow: v.$box-shadow-base;
}

.search-form {
  display: flex;
  gap: 12px;
  margin-bottom: 24px;

  input {
    flex-grow: 1;
    margin-bottom: 0;
  }
}

.pagination {
  display: flex;
  justify-content: center;
  gap: 8px;
  margin-top: 24px;

  button {
    min-width: 40px;
    padding: 10px;
    background-color: v.$bg-component;
    color: v.$text-secondary;
    border: 1px solid v.$border-color;
    &[disabled] {
      background-color: v.$primary-color;
      color: v.$bg-white;
      border-color: v.$primary-color;
    }
  }
}

table {
  width: 100%;
  border-collapse: collapse;
  margin: 24px 0;
  font-size: 1rem;

  th,
  td {
    padding: 16px 12px;
    border-bottom: 1px solid v.$border-color;
    text-align: center;
  }
  th {
    font-weight: 700;
    background-color: v.$bg-light;
  }
  tbody tr {
    cursor: pointer;
    &:hover {
      background-color: v.$bg-hover;
    }
  }
}

.info-summary {
  text-align: right;
  margin-bottom: 16px;
  color: v.$text-secondary;
}
.info-container {
  text-align: left;
  margin: 24px 0;

  .info-item {
    display: flex;
    padding: 12px 0;
    border-bottom: 1px solid #f2f4f6;
    &:last-child {
      border-bottom: none;
    }

    .info-label {
      font-weight: 700;
      width: 100px;
    }
  }
}

.detail-container {
  text-align: left !important;
  .info {
    color: v.$text-secondary;
    margin: 12px 0;
    span + span {
      margin-left: 16px;
    }
    .ip-address {
      font-size: 0.9rem;
    }
  }

  .content {
    margin-top: 24px;
    line-height: 1.7;
    min-height: 200px;
    img {
      max-width: 100%;
      height: auto;
      border-radius: 8px;
    }
  }
}

@media (max-width: (v.$desktop-width - 1px)) {
  .list-container,
  .detail-container {
    max-width: 100%;
  }
}

@media (max-width: (v.$tablet-width - 1px)) {
  .list-container,
  .detail-container {
    padding: 16px;
  }

  .info-summary {
    margin-bottom: 8px;
  }

  .info-container {
    margin: 16px 0;
    .info-item {
      padding: 6px 0;

      .info-label {
        width: 80px;
      }
    }
  }

  table {
    tr {
      border: 1px solid v.$border-color;
      border-radius: 8px;
      margin-bottom: 16px;
      font-size: 0.7rem;
    }

    td {
      padding: 12px 16px;
      position: relative;
      border: none;
      border-bottom: 1px solid v.$border-color;

      &::before {
        content: attr(data-label);
        position: absolute;
        left: 16px;
        font-weight: 700;
        color: v.$text-primary;
      }
    }
  }

  .table-scroll-wrapper {
    width: 100%;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
  }

  .search-form {
    gap: 8px;
    margin-bottom: 16px;
  }
}
